<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Awesome App</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    
</head>
<body>
    {{{body}}}
    <h2>λαχταριστο πεος</h2>
</body>
</html>